
protected net.minecraft.world.entity.monster.Slime f_33582_ # ID_SIZE
public net.minecraft.world.entity.LivingEntity m_6135_()V # jumpFromGround

public net.minecraft.client.player.LocalPlayer f_108608_ # jumpRidingScale

public net.minecraft.data.loot.EntityLootSubProvider f_244213_ # map

#public net.minecraft.world.level.Level m_142646_()Lnet/minecraft/world/level/entity/LevelEntityGetter; # getEntities
